:root{
    --primary-color: #FD4556;
    --secundary-color:#BD3944;
    --darker-red-color:#53212b;
}

.carrossel{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.slides{
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide{
    flex: 1;
    background-size: cover;
    background-position: top;
}

.progress-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 3;
}

.progress{
    height: 100%;
    background-color: var(--primary-color);
    width: 0;
    animation: progress 5s linear infinite;
}

@keyframes progress {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.prev, .next {
    position: absolute;
    bottom: 0;
    transform: translateY(-0.5rem);
    font-size: 3rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 10px 0 10px;
    border: none;
    z-index: 99;
    transition: 0.3s;
}

.prev{
    left: 0px;
    color: #FD4556;
}

.prev svg{
    height: 3rem;
    width: 3rem;
}

.next{
    right: 0px;
    color: #FD4556;
}

.next svg{
    height: 3rem;
    width: 3rem;
}

.prev:hover, .next:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.shadow{
    width: 100%;
    height: 14rem;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.shadow-rotate{
    width: 100%;
    height: 14rem;
    position: absolute;
    top: -5rem;
    z-index: 2;
    transform: rotate(180deg);
}

.carrossel-news{
    position: absolute;
    bottom: 6%;
    z-index: 4;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.carrossel-news-title{
    width: 35%;
    border-right: 0.2rem solid rgba(255, 255, 255, 0.5);
    padding: 0 2rem 0 0;
    cursor: pointer;
}

.carrossel-news-subtitle{
    width: 20%;
    padding: 0 0 0 2rem;
    cursor: pointer;
}

/* Responsivity */

@media (max-width: 1200px){
    .carrossel{
        position: relative;
        width: 100%;
        height: 60vh;
        overflow: hidden;
    }

    .carrossel-news{
        position: absolute;
        bottom: 6%;
        z-index: 4;
        width: 100%;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: small;
    }
}

@media (max-width: 768px){
    .carrossel{
        position: relative;
        width: 100%;
        height: 40vh;
        overflow: hidden;
    }

    /* .shadow{
        width: 100%;
        height: 0;
        position: absolute;
        top: 7rem;
        z-index: 2;
    } */

    .shadow{
        width: 100%;
        height: 30rem;
        position: absolute;
        bottom: 0;
        z-index: 2;
        background-size: cover;
        /* background-position: top; */
    }

    .carrossel-news{
        position: absolute;
        bottom: 22%;
        z-index: 4;
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .carrossel-news-title{
        width: 80%;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
        border-right: none;
        padding: 0 2rem;
    }

    .carrossel-news-subtitle{
        width: 80%;
        padding: 0 2rem;
    }
}

@media (max-width: 480px){
    .carrossel{
        position: relative;
        width: 100%;
        height: 70vh;
        overflow: hidden;
    }

    .shadow{
        width: 100%;
        height: 33rem;
        position: absolute;
        top: 11rem;
        z-index: 2;
    }

    .carrossel-news{
        font-size: smaller;
    }
}