:root{
    --primary-color: #FD4556;
    --secundary-color:#BD3944;
    --darker-red-color:#53212b;
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem 10%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-footer{
    width: 6rem;
    height: 6rem;
    background-repeat: no-repeat;
    text-align: center;
}

.social-footer li{
    padding: 0.5rem;
    color: white;
    cursor: pointer;
}

.footer-menu ul{
    display: flex;
    gap: 2rem;
}

.footer-menu li{
    color: white;
    cursor: pointer;
}

@media (max-width: 480px){
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-menu ul{
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 2rem 0;
    }

    .logo-footer{
        width: 6rem;
        height: 6rem;
        background-repeat: no-repeat;
        text-align: center;
    }

    .social-footer {
        width: 100%;
        justify-content: space-evenly;
    }

    .social-footer ul {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .social-footer li{
        padding: 0;
    }

    .footer-menu li{
        color: white;
        cursor: pointer;
    }
}