*::after{
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3{
    margin: 0;
}