:root{
    --primary-color: #FD4556;
    --secundary-color:#BD3944;
    --darker-red-color:#53212b;
}

.destaques{
    width: 100%;
    height: 30rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;

}

.destaques-section-info{
    width: 80%;
    height: 10%;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.destaques-itens{
    /* background-color: red; */
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.destaques-item{
    width: 30%;
    height: 100%;
    /* background-color: blue; */
    color: white;
    /* display: flex;  
    flex-direction: column;
    column-gap: 5rem; */
}

.container-collumns-home{
    width: 100%;
    height: auto;
    /* background-color: blue; */
    /* display: none; */
    padding: 0 10%;
    box-sizing: border-box;
    
}

.grid-collumns-home{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 20px;
    /* background-color: red; */
}

.ultimas-noticias{
    padding: 1rem  2rem 0 0;
    border-right: 1px solid rgba(128, 128, 128, 0.678);
}

.noticia{
    width: 100%;
    height: 15rem;
    background-color: white;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.noticia:hover .noticia-img{
    background-size: 160%;
    filter: blur(0);
}

.noticia-img{
    width: 30rem;
    height: auto;
    background-size: 150%;
    background-position: center;
    filter: blur(0.6px);
    overflow: hidden;
    transition: background-size .3s ease-in-out;
}

.noticia-info{
    width: -webkit-fill-available;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noticia-data{
    background-color: var(--primary-color);
    display: inline-block;
    padding: 0.3rem 0;
    width: 10rem;
    text-align: center;
    color: white;
}

.review{
    width: 100%;
    height: 15rem;
    margin: 1rem 0;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
}

.review-img{
    width: 20rem;
    height: 100%;
    background-color: blue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review-info{
    height: 100%;
    width: -webkit-fill-available;
    /* background-color: yellow; */
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 1rem;
}

.review-nota{
    background-color: var(--primary-color);
    text-align: left;
    color: white;
    width: 4.5rem;
    height: 6rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}



.shadow-main{
    width: 100%;
    height: 3rem;
    /* position: absolute; */
    z-index: 2;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: red; */
}