:root{
    --primary-color: #FD4556;
    --secundary-color:#BD3944;
    --darker-red-color:#53212b;
}

#header{
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    width: 100%;
    padding: 0.8rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    color: white;
    transition: 0.5s;
}

.scrolled{
    background-color: rgb(255, 255, 255);
    animation: stickySlideDown 0.5s ease-in-out alternate;
    color: var(--primary-color);
}

.navbar-logo{
    margin-right: 3%;
    width: 6rem;
    text-align: center;
}

.navbar-items{
    display: flex;
    flex-direction: column;
}

.upperSide-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-search{
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.navbar-search input{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    margin-right: 1rem;
    outline: none;
    transition: all 0.3s ease-in-out;
    width: 0;
    opacity: 0;
    color: var(--secundary-color);
}

.act input{
    width: 10rem;
    opacity: 1;
    /* border: 3px solid black; */
}

.social li{
    padding: 0.5rem;
}

.menu ul{
    display: flex;
    gap: 2rem;
}

.menu li{
    padding: 0.5rem;
    font-weight: 600;
}

.hamburger svg{
    display: none;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

/* .hamburger span{
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
} */

.navbar-logo:hover{
    cursor: pointer;
}

.navbar-search svg:hover{
    cursor: pointer;
}

.menu li:hover{
    color: var(--primary-color);
    transition: 0.3s;
}

.social li:hover{
    color: var(--secundary-color);
    cursor: pointer;
    transition: 0.5s;
}

.scrolled li:hover{
    color: black;
}

@keyframes stickySlideDown{
    0%{
        opacity: .7;
        transform: translateY(-100%);
        transition: 1s;
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

